@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    /* border: 1px solid red; */
}

*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    background: linear-gradient(to bottom right, rgb(42,244,153), rgb(0,158,252));
}

body{
    margin: 0 auto;
    max-width: 1000px;
    height:100vh;
    width:100vw;
    /* overflow: hidden; */
    color: white;
    font-weight: bold;
    font-family: Tahoma, sans-serif;;
    border-radius: 25px;
}

.landingPage{
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 45% 10% 25%; 
}


.headline{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}


.logo{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width:100%;
}


.logo img{
    height: 100%;
}

.CompanyName{
    text-align: center;
    /* padding-top: 2%; */
    height:100%;
    width:100%;
    font-family: Lobster, sans-serif;
    font-size:40px;
}


.action{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.inputContainer{
    height: 100%;
    width: 50%;
    
}



label{
    display: block;
    /* margin-top: 11%; */
    margin: 2% 0 2% 15%;
    height: 10%;
    font-size: 14px;
}

label[for="feelings"]{
    margin-bottom: 0;
}

label input{
    /* display: block; */
    width: 50%;
    height: 100%;
    text-align: center;
    border-radius: 11px;
    /* margin-top: 1%; */
}

select{
    height: 80%;
    width: 50%;
    border-radius: 11px;
}

textarea{
    width: 70%;
    height: 30%;
    margin-left: 15%;
    border-radius: 11px;
    text-align: center;
}

button[type="submit"]{
    width: 50%;
    height: 10%;
    margin-top: 2%;
    margin-left: 25%; 
    border: 0;
    border-radius: 25px;
    background-color: rgb(247,143,49); 
    color: white;
    font-size: 23px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

button[type="submit"]:hover{
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.7);
    font-size: 22px;
}

.list-titles-container{
    height: 50%;
    width: 100%;
    margin-top: 1%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    color: black;

}

.list-title {
    width: 22%;
    text-align: center;
    font-size: 14px;
}

.entry{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.entry::-webkit-scrollbar{
    width: 20px;
}

.entry::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 25px;
}

.entry::-webkit-scrollbar-thumb{
    background-image: linear-gradient(rgb(247,143,49), #ffff00, #00ff00);
    border-radius: 10px;
}

.entry-title{
    text-align: center;
    height: 100%;
    width: 100%;
    margin-bottom: 5%;
}

#entryHolder{
    width: 100%;
    height: 100%;
}

.expand{
    height: 25%;
    width: 100%;
}

.flexible{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.flexible:hover{
    background-color: rgba(0, 0, 0, 0.15);
    cursor:pointer;
}

.HistorySubComponent{
    width: 22%;
    text-align: center;
    font-size: 14px;
}

.notification{
    position: fixed;
    width: 50%;
    /* height: 10vh; */
    padding: 3% 3%;
    top:0%;
    left: 25%;
    margin: 0 auto;
    background-color: red;
    color: white;
    font-size: 13px;
    text-align: center;
    border-radius: 11px;
}